{{ define "body-classes" }}
<!-- sticky-nav -->
{{ end }}
{{ define "content" }}
<section id="main" class="content-container article-pad-v">
  <h1 id="title" style="margin-bottom: 0.75em">{{with .Title}}{{.}}{{else}}{{.Site.Title}}{{end}}</h1>
  {{ if .Site.Params.Menu }}
    {{ partial "homepage_config_menu" .Site.Params.Menu }}
  {{ else if .Params.display_section }}
    {{ $filtered_sections := first 1 (where .Sections "Type" "eq" .Params.display_section) }}
    {{- if not $filtered_sections -}}
      {{ $section_names := slice }}
      {{ range .Sections }}
        {{ $section_names = $section_names | append .Type }}
      {{ end }}
      {{errorf "Couldn't find a section named '%s'. Try one of %v" .Params.display_section $section_names }}
    {{- end -}}
    {{ $args := dict
        "section" (index $filtered_sections 0)
        "section_title" .Params.display_section_expanded_title
        "content" .Content
      }}
    {{ partial "homepage_display_section"  $args }}
  {{ else if .Content }}
    {{/* implies Content alone because Content + display_section covered earlier */}}
    {{ .Content }}
  {{ end }}
</section>
{{ end }}
